.curosr {
  width:200px;
  height:200px;
  cursor:url('https://www.kindpng.com/picc/m/245-2456655_a-splatoon-squid-emote-that-i-made-for.png" alt="A Splatoon Squid Emote That I Made For A Couple Of - Splatoon Squid Logo Png');
}
