
* {
	box-sizing: border-box;

.navbar{
	display:flex;
	float: right;
  width: 90%;
	position: sticky;
	column-gap: 50px;
	top: 0px;
	left:220px;
	background-color: pink;
	color: yellow;
	padding: 0;
 /* Flexbox - Centers everything vertically */
}
.flex-child{
	flex-grow:2; /* Makes items fill up space */
	padding: 10px;
	text-decoration: none;
	color: yellow;
	flex-direction:row;
	justify-content: center;
	text-align: center;
}
.flex-child > div {
	background-color: white;
	color: #f61d5d;
  margin: 20px;;
}
.content{
position:sticky;
width:100vw
top:40px

}

#section1 {
	background-color:#D5F0F6;
	color: black;
	width:100vw;
	left:180px;
}
#section2 {
	background-color:#CCE3F9;
	color: black;
	width:100vw;
	left:180px;
}
#section3 {
	background-color:#C6D4F4;
	color: black;
	width:100vw;
	left:180px;
}
#section4 {
	background-color:#BFC6F2;
	color: black;
	width:100vw;
	left:20px;
}
