
* {
	box-sizing: border-box;
}
.navbar{
	position: sticky;
	top: 0px;
	background-color: pink;
	color: yellow;
	width: 100vw;
	padding: 0;
	display: flex;
	align-items: center; /* Flexbox - Centers everything vertically */
}
.flex-child{
	flex-grow: 1; /* Makes items fill up space */
	padding: 10px;
	text-decoration: none;
	color: yellow;
	transition: .2s;
	text-align: center;
}
.flex-child:hover {
	background-color: white;
	color: #f61d5d;

}
.content{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.content div { /* Applies CSS styles to all <div> elements inside of <div class="parent"> */
	height: 100vh; /* Forces height to not change */
	overflow: scroll; /* Content inside can only be viewed via scrolling */

}
#section1 {
	background-color:#D5F0F6;
	color: black;
	padding: 20px;
}
#section2 {
	background-color:#CCE3F9;
	color: black;
	padding: 20px;
}
#section3 {
	background-color:#C6D4F4;
	color: black;
	padding: 20px;
}
#section4 {
	background-color:#BFC6F2;
	color: black;
	padding: 20px;
}
